.skills {
    margin: 0px; 
    padding: 20px;
    background-color: azure;
    width: auto;
    height: 100vh;
    row-gap: 2rem;
    text-align: center;
    align-items: center;
}

.skills .divider{
    height: 4px;
    width: 35%;
    background-color: #0CC0DF;
    bottom: 0; 
    left: 0; 
    right: 0;
    margin: 0 auto; 
}

.skills__subtitle {
    color: black;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.skills-title {
    color: #0CC0DF;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    text-align: left;
    font-weight: bold;
}