.about {
    background-color: azure;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin-top: 2em;
    position: relative;
}
  
.about img {
    /*border:  1px solid #00d9ffd7;*/
    height: auto;
    max-width: 100%;

    @media (min-width: 1024px) {
        position: absolute;
        height: 100%;
        width: 100%;
        grid-column:  6/11;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    @media (max-width: 1023px) {
        position: relative;
        grid-column: 6/11;
        color: black;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    /*grid-column:  6/11;
    color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;*/
}
  
.about-info {
    grid-column: 1/6;
    padding: 3em;
}
  
.about-info h2 {
    font-size: 3em;
    font-weight: bold;
    color: #9340FF;
}
  
.divider {
    height: 4px;
    width: 60px;
    background-color: #9340FF;
    margin-top: 5px;
    margin-bottom: 2em;
}
  
.about p {
    font-size: 1.5vw;
    margin-bottom: 1em;
    text-align: justify;
    color: black;
}

.about .download-cv {
    background-image: linear-gradient(to right,#9340FF,#0CC0DF);
    background-size: 100% 300%;
    color: black
}
  
.download-cv:hover {
    background-image: linear-gradient(to right,#000000,#0CC0DF);
    background-size: 300% 100%;
    color: white
}
